<%= render 'shared/header', titulo: "Timetracking"%>
<div class="container">
  <table class="table" style="margin-top: 15px">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Latitude</th>
      <th scope="col">Longitude</th>
      <th scope="col">Time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @timetracking.latitude %></td>
      <td><%= @timetracking.longitude %></td>
      <td><%= @timetracking.created_at %></td>
    </tr>
  </tbody>
  </table>

  <div id="map" style="height: 500px;"></div>

  <div class="card" style="margin: 15px 0 15px 0;">
    <div class="card-header">Comments</div>
    <div class="card-body">
      <%= @timetracking.comments %>
    </div>
</div>

  <%= link_to 'Edit', edit_timetracking_path(@timetracking) %> |
  <%= link_to 'Back', timetrackings_path %>
</div>

<script type='text/javascript'>

var map;
function initMap() {
  var pos = {lat: <%= @timetracking.latitude%>, lng: <%= @timetracking.longitude %>}

  map = new google.maps.Map(document.getElementById('map'), {
    center: pos,
    zoom: 10
  });

  var marker = new google.maps.Marker({
    map: map,
    position: pos
  })
}
</script>
<%= render 'shared/maps' %>
